<div class="album-block">
  <div class="album-block-1">
    <div class="album-header">
      <div class="album-name"><h2>{{ album.name }}</h2></div>
      <div class="album-release-date">
        <span>{{ album.year_of_release }}</span>
      </div>
    </div>
    <div class="album-cover-container">
      <img src="{{ site.baseurl }}/{{ album.cover_img }}" />
    </div>
  </div>

  <div class="genre-tags">
    <ul>
      {% assign tags_sorted = album.tags | sort %} {% for tag in tags_sorted %}
      <li class="genre">
        <a href="{{ site.baseurl }}/pages/genres/{{ tag | slugify  }}"
          >{{ tag }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="album-block-2">
    <div class="sub-album-block-2">
      <div class="album-songs-container">
        <div class="album-list-header">
          <span>Songs</span>
        </div>
        <div class="album-list-container">
          <ol>
            <!-- Counter for span element  -->
            {% assign i = 1 %}
            <!--  -->
            {% for song in songs %}

            <li class="album-list">
              <span>{{ i }}</span>
              <h3>{{ song }}</h3>
            </li>

            <!-- Increment counter by 1  -->
            {% assign i = i | plus: 1 %}
            <!--  -->
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
