<nav class="navbar">
  <a href="/">HOME</a>

  <ul>
    <li><a href="{{ site.baseurl }}/pages/bands">Bands</a></li>
    <li><a href="{{ site.baseurl }}/pages/albums">Albums</a></li>
    <li><a href="{{ site.baseurl }}/pages/genres">Genres</a></li>
    <li><a href="{{ site.baseurl }}/pages/random-band">Random Band</a></li>
    <li><a href="{{ site.baseurl }}/pages/random-album">Random Album</a></li>
    <li><a href="{{ site.baseurl }}/pages/random-genre">Random Genre</a></li>
  </ul>
</nav>
