* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  width: 100%;
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

h1 {
  color: white;
}

/***** NAVBAR *****/

.navbar a {
  font-size: 2rem;
  color: orange;
  margin: 2.5rem auto;
}

.navbar {
  width: 12%;
  height: 100%;
  background-color: #1a1a1a;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navbar ul {
  width: 100%;

  margin-left: 1rem;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar li {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0;
  width: 100%;

  border-bottom: 1px solid lime;
}

.navbar li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: orange;
}

.navbar li a:hover {
  text-decoration: underline;
  color: orange;
}

/***** ALBUM CONTENT *****/

.about-band-header {
  width: 100%;
  background-color: yellow;
}

.albums-content-container {
  width: 88%;
}

.album-blocks-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-block {
  margin: 1rem;
  width: 46%;
  height: 100%;
  background-color: green;
}

.album-block-1 {
  width: 100%;
  height: 40%;
  background-color: green;
}

.album-block-2 {
  height: 40%;
  background-color: yellow;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sub-album-block-2 {
  width: 100%;
  height: 10rem;
  background-color: green;

  overflow-x: hidden;
  overflow-y: scroll;
}

.sub-album-block-2::-webkit-scrollbar {
  width: 18px; /* width of the entire scrollbar */
}

.sub-album-block-2::-webkit-scrollbar-track {
  background: green; /* color of the tracking area */
}

.sub-album-block-2::-webkit-scrollbar-thumb {
  background-color: green; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid green; /* creates padding around scroll thumb */
}

.sub-album-block-2 {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: green green; /* scroll thumb and track */
}

.album-header {
  height: 10%;

  display: flex;
}

.album-name {
  width: 75%;
  border-right: 3px solid green;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-name h2 {
  font-size: 22px;
  color: limegreen;
}

.album-release-date {
  width: 25%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-release-date span {
  color: orange;
  font-size: 2rem;
  font-weight: bold;
}

.album-cover-container {
  width: 100%;
  height: 40%;
}

.album-cover-container img {
  max-width: 100%;
  max-height: auto;
}

.album-cover-tag-container {
  width: 100%;
  height: 500px;
}

.album-cover-tag-container img {
  max-width: 25%;
  max-height: auto;
}

.album-list-header {
  margin: 0 0 1rem 2.5rem;
  height: 2.5rem;
  font-size: 28px;
  background-color: green;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.album-songs-container {
  margin-top: 0.25rem;
  padding: 0.25rem;
}

.album-list-container {
  width: 100%;
}

.album-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-list ol {
  list-style: none;
}

.album-list span {
  padding: 0.25rem;
  width: 10%;
  font-weight: bold;
  color: orange;
  border-right: 4px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-list h3 {
  padding: 0.25rem;
  width: 90%;
  margin-left: 15px;
  font-size: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.album-list:last-child {
  margin-bottom: 2.5rem;
  border-radius: 0 0 10px 10px;
}

.album-list:nth-child(odd) {
  background-color: green;
}

.album-list:nth-child(even) {
  background-color: green;
}

.genre-tags {
  margin: 0 0.15rem 0.25rem 0;
  padding: 0.25rem;
  height: 10%;

  background-color: green;
  display: flex;
  justify-content: flex-end;
}

ul .genre {
  display: inline-block;
}

.genre {
  padding: 4px;
  font-weight: bold;

  border: 2px solid orange;
  border-radius: 25px;
}

.genre a {
  font-size: 14px;
  color: orange;
  text-decoration: none;
}
.genre a:hover {
  color: yellow;
  text-decoration: underline;
}

.album-preview {
  width: 50%;
  height: 20rem;
  color: green;
  margin-bottom: -2.5rem;
}

.album-preview img {
  height: 250px;
}

.block {
  width: 75%;
  height: 20rem;
  background-color: yellow;
}

.album-preview-container {
  padding: 1.5rem;
  width: 88%;
  background: yellow;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 75px;
}
.album-preview {
  height: 36rem;
  width: 100%;
  border-radius: 2vmin;
}
.album-preview-cover {
  height: 75%;
  background: green;
  border-radius: 2vmin 2vmin 0 0;

  display: flex;
  align-items: center;
}
.album-preview-cover img {
  width: 100%;
  max-height: auto;
}
.album-preview-name {
  height: 25%;
  background-color: green;
  border-radius: 0 0 2vmin 2vmin;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.album-preview-name h2 {
  font-size: 2.2rem;
}
.album-preview-name span {
  font-size: 1.6rem;
}
.bands-container {
  margin-bottom: 5rem;
  width: 88%;
  border-radius: 2vmin;

  display: flex;
  justify-content: center;
}
.band-desc {
  width: 56%;
  border-radius: 2vmin 0 0 2vmin;
  background-color: green;
}
.band-photo {
  aspect-ratio: 1 / 1;
  width: 26%;
  border-radius: 0 2vmin 2vmin 0;

  background-color: red;
}
.band-desc h2 {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  padding-left: 1.75rem;
  display: inline-block;

  border-bottom: 2px solid red;
}
.band-desc p {
  padding-left: 3rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
}
.genres-container {
  width: 88%;

  display: flex;
  flex-direction: column;
}
.genre-block {
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.genres-container:nth-child(odd) {
  background-color: green;
}
.genres-container:nth-child(even) {
  background-color: greenyellow;
}
.genre-name {
  margin-right: 1rem;
}
.genre-bands {
  margin-right: 0.5rem;
}

/* Only for svelte */

.grid-form-container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  align-items: center;

  column-gap: 8px;
  row-gap: 6px;
}

.col-label-1 {
  grid-column: span 1 / 2;
  justify-self: end;
}
.col-input-1 {
  grid-column: span 1 / 3;
}

.col-label-2 {
  grid-column: span 1 / 4;
  justify-self: end;
}
.col-input-2 {
  grid-column: span 1 / 5;
}
.col-label-3 {
  grid-column: span 1 / 2;
  justify-self: end;
}
.col-input-3 {
  grid-column: span 1 / 3;
}
.col-label-4 {
  grid-column: span 1 / 2;
  justify-self: end;
}
.col-input-4 {
  grid-column: span 3 / 5;
}
.col-label-5 {
  grid-column: span 1 / 2;
  justify-self: end;
}
.col-input-5 {
  grid-column: span 3 / 5;
}

button {
  grid-column: span 3 / 5;
}

form {
  margin: 0 auto;
  width: 48rem;
}

input:focus {
  outline: 1px solid lime;
}

label {
  font-size: 1.2rem;
}

input[type="text"] {
  width: 100%;
  padding: 5px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-35 {
  width: 35%;
}

.w-48 {
  width: 48%;
}

.w-50 {
  width: 50%;
}

.w-52 {
  width: 52%;
}

.w-65 {
  width: 65%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-84 {
  width: 84%;
}

.w-100 {
  width: 100%;
}

/* *************** */
