* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;

  height: 100%;
}

h1 {
  color: white;
}

.navbar-1 {
  background-color: blue;
  height: 4vw;
  width: 100%;
}

.navbar-2 {
  width: 15%;
  height: 100%;
  background-color: blue;

  position: fixed;
  top: 0;
  right: 0;
}

.about-band-header {
  width: 100%;
  background-color: yellow;
}

.albums-content-container {
  width: 85%;

  overflow-x: hidden;
  overflow-y: scroll;
}

.album-blocks-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-block {
  margin: 1rem;
  width: 46%;

  background-color: red;
}

.album-block-1 {
  padding: 0.5rem 0 0.5 0;
  width: 100%;
  height: 15rem;
  background-color: red;
}

.album-block-2 {
  margin-top: 9.67rem;
  padding: 0;
  height: 8rem;
  background-color: red;
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}

.album-block-2::-webkit-scrollbar {
  width: 18px; /* width of the entire scrollbar */
}

.album-block-2::-webkit-scrollbar-track {
  background: green; /* color of the tracking area */
}

.album-block-2::-webkit-scrollbar-thumb {
  background-color: green; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid green; /* creates padding around scroll thumb */
}

.album-block-2 {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: green green; /* scroll thumb and track */
}

.album-block-centered {
  width: 50%;
  height: 30rem;
  background-color: red;
  border: 10px solid black;

  transform: translateX(50%);
}

.album-header {
  margin-bottom: 0.5rem;

  display: flex;
}

.album-name {
  width: 75%;
  height: 2.5rem;
  border-right: 3px solid green;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-name h2 {
  font-size: 22px;
  color: limegreen;
}

.album-release-date {
  width: 25%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-release-date span {
  color: orange;
  font-size: 2rem;
  font-weight: bold;
}

.album-cover-container {
  width: 100%;
  height: 25rem;
}

.album-cover-container img {
  max-width: 100%;
  max-height: auto;
}

.album-list-header {
  height: 2.5rem;
  margin-top: 1rem;
  background-color: greenyellow;
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-songs-container {
  padding: 0.25rem;
}

.album-list-container {
  width: 100%;
}

.album-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-list ol {
  list-style: none;
}

.album-list span {
  padding: 0.25rem;
  width: 10%;
  font-weight: bold;
  color: orange;
  border-right: 4px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.album-list h3 {
  padding: 0.25rem;
  width: 90%;
  margin-left: 15px;
  font-size: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.album-list:last-child {
  margin-bottom: 2.5rem;
  border-radius: 0 0 10px 10px;
}

.album-list:nth-child(odd) {
  background-color: green;
}

.album-list:nth-child(even) {
  background-color: greenyellow;
}
